.container-fluid {
  height: 7%;
  background-color: #037367;
  position: fixed;
}

.d-flex > div {
  height: 100%;
  width: 50px;
  font-size: 28px;
  color: white;
  justify-content: center;
}
.d-flex > .logo {
  text-align: center;
}
.d-flex > .search-icon {
  text-align: right;
}

/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}
