body {
  background-image: url('../img/bg-main@2x.png');
  background-attachment: scroll;
  font-family: montserrat, sans-serif;
  font-weight: 600;
  font-style: normal;
}

h4 {
  color: #E91E50;
  letter-spacing: 5px;
}

.nav {
  position: fixed;
  height: 50px;
  background-color: #037367;
  position: fixed;
  padding-right: 0px;
  z-index: 1;
}

.menu-icon {
  padding-top: 5px;
  padding-left: 10px;
}

.search-icon {
  padding-top: 5px;
  padding-right: 10px;
}

.d-flex>div {
  height: 100%;
  width: 50px;
  font-size: 28px;
  color: white;
  justify-content: center;
  margin: 0 auto;
}

.d-flex>.logo {
  text-align: center;
}

.d-flex>.search-icon {
  text-align: right;
}

.welly-logo {
  margin: 0 auto;
  text-align: center;
  padding-top: 55px;
}

.welly-logo h1 {
  letter-spacing: 5px;
}

.slide, .current-events, .map {
  padding-top: 10px;
  text-align: center;
}

.current-events .card {
  margin: 0 auto;
}

.btn {
  border-radius: 1rem;
}

.btn-primary {
  background-color: #037367;
  border-color: #037367;
}

/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}
