$primaryColor: #037367;
$accentColor: #e91e50;

body {
  background-image: url("../img/bg-main@2x.png");
  background-attachment: fixed;
  font-family: montserrat, sans-serif;
  font-weight: 600;
  font-style: normal;
}

body {
  .bg-dark {
    background-color: $primaryColor !important;
  }
}

h4 {
  color: $accentColor;
  letter-spacing: 5px;
}

li {
  a {
    color: white !important;
  }
}

.btn-outline-success {
  color: white;
  border-color: white;
}

.labels {
  text-align: center;
}

.welly-logo {
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}

.welly-logo h1 {
  letter-spacing: 5px;
}

.current-events-desktop,
.current-events-mobile,
.map,
.slide {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.current-events-mobile .card {
  margin: 0 auto;
}

.btn {
  border-radius: 1rem;
  background-color: $primaryColor;
  border-color: $primaryColor;
}

/* X-Small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
  .current-events-desktop {
    display: none;
  }
}
/* Small devices (portrait tablets and large phones, 577px and up) */
@media only screen and (min-width: 576.98px) {
  .current-events-mobile {
    display: none;
  }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}
/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}
/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}
/* X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}
/* XX-Large devices (larger desktops) */
/* No media query since the xxl breakpoint has no upper bound on its width */
